* 
{
    margin: 0;
    padding: 0;
}

ul,ol 
{
    list-style: none;
}

body
{
    background: #bfbfbf url(images/background.jpg) repeat-x;
    background-size: 610px;
    font-family: Arial, sans-serif;
}

header 
{
    padding: 30px 0;
}

header h1
{
    font-size: 40px;
    font-family: 'limelight', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000; 
}

/* main menu */

#main-menu ul {
    width: 980px;
    height: 500px;
    margin: 0 auto;
    padding-top: 140px;
}

#main-menu ul li 
{
    float: left;
    width: 140px;
    height: 500px;
    overflow: hidden;
    position: relative;
    
}
.bw 
{
    width: 140px;
    position: absolute;
    left: 0px;
    height: 500px;
    cursor: pointer;
    background: url(images/bw-image.jpg) no-repeat;
    opacity: 0.7;
}
.colore
{
    width: 140px;
    height: 500px;
    position: absolute;
    left: 140px;
    cursor: pointer;
    background: url(images/color-image.jpg) no-repeat;
}

#part2 div
{
    background-position: -140px 0px;
    
}
#part3 div
{
    background-position: -280px 0px;
    
}

#part4 div
{
    background-position: -420px 0px;
    
}

#part5 div
{
    background-position: -560px 0px;
    
}

.description {
    width: 240px;
    height: 460px;
    padding: 20px;
    background: #fff;
    position: absolute;
    left: 140px;
}

.description h2 {
    padding-top: 20px;
    font-size:30px;
    text-align: center;
    font-family: 'limelight', sans-serif;
    color: #333;
    text-transform: uppercase;
}

.description h3 {
    margin-top: 30px;
    font-family: 'lobster', sans-serif;
    padding: 10px;
    font-size:26px;
    background: #d70000;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 5px;
}

.description p {
    padding-top: 35px;
    font-family: 'lobster', sans-serif;
    font-size: 22px;
    color: #000;
    text-align: center;
}

/*btn menu*/

#btn-menu {
    float: left;
    width: 100%;
    padding: 170px 0px 50px 0;
    
}
#btn-menu ul {
    float: left;
    position: relative;
    left: 50%;
    text-align: center;
}

.btn {
    float: left;
    width: 150px;
    margin-left: 30px;
    padding: 10px 0px;
    position: relative;
    right: 50%;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Lobster', sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.75);
    background: #333;
    border: 2px solid #b70000;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.9;
     
}

.hovered {
    background: #b70000;
    border: 2px solid #333;
    font-size: 24px;
}
